<legend>
	<epic:link_action action="go_overview">Billing Overview</epic:link_action> > FAQs
</legend>
<h4>How much does iProjectMobile cost?</h4>
<p style="margin-bottom: 35px;">
	iProjectMobile plans range from $0 - $100 per month. Additional Users can be purchased for $15 per user per month and additional data storage can be purchased for $5 per 50 GB per month. Details regarding iProjectMobile paid plans can be viewed on the
	<a href="http://www.iprojectmobile.com/#plans">plans and pricing page.</a>
	Please contact our
	<a href="mailto:support@iprojectmobile.com">support team</a>
	for information about Teams of 200 or more.
</p>
<h4>Can I try iProjectMobile before I buy?</h4>
<p style="margin-bottom: 35px;">
	Yes. iProjectMobile offers a full feature 30 Day free trial that includes mobile access, unlimited projects, 100 team members and 250 GB of data storage. You can start your 30 day free trial any time by
	<a href="http://iprojectmobile.com/#signup">signing up</a>
	for an account.
</p>
<h4>What payment types do you accept?</h4>
<p style="margin-bottom: 35px;">We accept credit card payments from Visa, Mastercard, Discover and American Express. All payments are collected in US dollars (USD).</p>
<h4>Is my credit card safe with iProjectMobile?</h4>
<p style="margin-bottom: 35px;">
	Credit card security is as important to us as it is to you. For this reason we have partnered with
	<a href="https://www.braintreepayments.com/" target="_blank">Braintree Payments</a>
	to keep your credit information safe and secure. We are proud to partner with an industry leader that takes PCI compliance and
	<a href="https://www.braintreepayments.com/developers/security" target="_blank">credit card security</a>
	seriously.
</p>
<h4>Do I need to sign a long term contract?</h4>
<p style="margin-bottom: 35px;">iProjectMobile paid plans do not have long term contracts or hidden fees. Our service is month to month. You can downgrade or cancel your account at any time.</p>
<h4>When do the monthly charges occur?</h4>
<p style="margin-bottom: 35px;">iProjectMobile will attempt to charge your credit card on your bill day each month. Your bill day is set the first time iProjectMobile is purchased. For example, if your initial purchase occurs on January 13th, your next charge will occur one month later on February 13th.</p>
<h4>If I upgrade my account in the middle of a billing cycle am I charged for a whole month?</h4>
<p style="margin-bottom: 35px;">When an upgrade occurs iProjectMobile immediately charges your credit card a prorated amount based on the number of days left until your next monthly bill. Your monthly bill will also be updated to reflect the new monthly price.</p>
<h4>Will downgrading my account result in a refund?</h4>
<p style="margin-bottom: 15px;">iProjectMobile does not provide refunds when an account is downgraded or canceled. However, when a downgrade occurs a prorated credit (based on the number of days remaining until your next monthly bill) is added to your account. This credit will be automatically used on your next monthly or upgrade payment(s).
<p style="margin-bottom: 35px;">For example if you purchase the Professional plan ($35/mo) on April 1st, then downgrade to the Standard plan ($25/mo on April 15th (halfway through the billing cycle), $5 will be credited to your account. Your next monthly payment will occur on May 1st and you will be charged $20 ($25 Standard plan - $5 credit).</p>
</p>
<h4>How is a declined monthly payment handled?</h4>
<p style="margin-bottom: 35px;">If your credit card is declined when attempting to charge for a monthly payment, iProjectMobile will automatically attempt the charge again the next day and then again the day after that. If both retry attempts fail, your account will fall into a 7 day grace period where it will remain active and accessible until the grace period expires. When the grace period expires your account will be automatically canceled.</p>
<h4>My credit card was declined on a recurring payment. What do I do now?</h4>
<p style="margin-bottom: 35px;">
	Credit cards can be declined for many reasons. A detailed error about the decline should be provided on your iProjectMobile invoice. Depending on the error, you may need to contact your bank to rectify the situation before iProjectMobile attempts to retry the card (for example if your card is over limit). You can update or change the credit card used for iProjectMobile payments at any time within the billing interface. If you are still having trouble with your payment after trying these suggestions please contact our
	<a href="mailto:support@iprojectmobile.com">support team</a>.
</p>
<h4>I recently canceled my account. Can I reactivate it?</h4>
<p style="margin-bottom: 35px;">Canceled accounts can be reactivated up-to 90 days after cancellation. Simply log into your iProjectMobile account, go to the billing area and click on the un-cancel link. This will attempt to charge your credit card on file and reactivate your paid plan.</p>
<h4>Why is there a $1 transaction on my credit card statement?</h4>
 <p style="margin-bottom:35px;">Performing a $1 authorization allows us to verify a valid credit card. The $1 authorization is immediately voided once we get the bank's response and will fall off of your credit card statement within a few business days.</p> 