<div class="section-sub-heading">
	<h1 class="ipm-orange center">Forgot Password?</h1>
	<h4 align="center">Submit your email address below to retrieve your account password.</h4>
</div>
<br>
<br>
<div class="row-fluid" style="background-color: #EEE; padding-top: 20px; padding-bottom: 10px;">
	<div class="form-container span2 offset5">
		<div class="form-container">
			<div class="center">
				<form>
					<epic:dyno_form form="UserForgot" show_req=""  part="fist_inline" />
					<epic:form_action action="send" value="Send" class="btn" type="submit" />
					<epic:form_action action="cancel" value="Cancel" class="btn" type="submit" />
				</form>
			</div>
		</div>
	</div>
</div>