<div class="home-options-container">
	<div id="top"></div>
	<div id="welcome" class="clearfix"></div>
	<div class="first-full-screen-page row-fluid">
		<epic:page_part part="welcome" />
		<div class="next-page-icon">
			<div class="next-page" onclick="$('html,body').scrollTo('#features', 1000);">
				<nav class="nav-arrows">
					<span class="nav-arrow-down">Down</span>
				</nav>
			</div>
		</div>
		<img src="Package/iPM/images/bg_bottom.png" class="city-scape hidden-phone" />
	</div>
	<div id="features" class="clearfix"></div>
	<div class="full-screen-page row-fluid">
		<epic:page_part part="features" />
		<div class="next-page-icon">
			<div class="next-page" onclick="$('html,body').scrollTo('#support', 1000);">
				<nav class="nav-arrows">
					<span class="nav-arrow-down">Down</span>
				</nav>
			</div>
		</div>
	</div>
	<div id="support" class="clearfix"></div>
	<div class="full-screen-page row-fluid">
		<epic:page_part part="support" />
		<div class="next-page-icon">
			<div class="next-page" onclick="$('html,body').scrollTo('#pricing', 1000);">
				<nav class="nav-arrows">
					<span class="nav-arrow-down">Down</span>
				</nav>
			</div>
		</div>
	</div>
	<div id="pricing" class="clearfix"></div>
	<div class="full-screen-page row-fluid">
		<epic:page_part part="pricing" />
		<div class="next-page-icon">
			<div class="next-page" onclick="$('html,body').scrollTo('#company', 1000);">
				<nav class="nav-arrows">
					<span class="nav-arrow-down">Down</span>
				</nav>
			</div>
		</div>
	</div>
	<div id="company" class="clearfix"></div>
	<div class="full-screen-page row-fluid">
		<epic:page_part part="company" />
		<div class="back-to-top">
			<div class="next-page" onclick="$('html,body').scrollTo('#welcome', 1000);">
				<nav class="nav-arrows">
					<span class="nav-arrow-up">Top</span>
				</nav>
			</div>
		</div>
	</div>
	<div class="clearfix" style="height: 25px;"></div>
	<div id="bottom"></div>
</div>
