<epic:defer name="company-section">
</epic:defer>
<div class="section-sub-heading">
	<h1 class="ipm-orange center">Company</h1>
	<h4 align="center">Born in the Colorado Rockies.</h4>
</div>
<div class="row-fluid top-nav-sections company-top-nav hidden-phone">
	<div class="span6 center">
		<h2 class="">Our Goal</h2>
	</div>
	<div class="span6 center">
		<h2 class="">The Team</h2>
	</div>
</div>
<div class="visible-phone center">
	<div class="feature-phone center">
		<h2>Our Goal</h2>
		<div class="ipm-our-goal ipm-home-icons"></div>
		<div>Providing the construction industry with progressive and creative mobile technologies that increase organization, productivity, efficiency and open collaboration.</div>
	</div>
	<div class="feature-phone center">
		<h2>The Team</h2>
		<div class="ipm-the-team ipm-home-icons"></div>
		<div>Our team has a unique combination of construction and technical experience.  This allows us to build quality software that is helpful, intuitive, and easy to use.</div>
	</div>
</div>
<div class="expander company-expander" style="display: none;">
	<div class="expander-inner">
		<span class="expander-close" onclick="$('.company-expander').slideUp();"></span>
		<div class="container slider-container">
			<div id="company-slider" class="sl-slider-wrapper">
				<div class="sl-slider">
					<div class="sl-slide bg-1" data-orientation="vertical">
						<div class="sl-slide-inner">
							<div class="center" style="line-height: 90px; padding: 5%;">
								<span style="font-size: 35px;">It is our goal to provide the</span>
								<span style="font-size: 70px; text-shadow: 2px 2px 2px #FFF;" class="ipm-orange">CONSTRUCTION INDUSTRY</span>
								<span style="font-size: 35px;">with</span>
								<br>
								<span style="font-size: 70px; color: #FFF; text-shadow: 2px 2px 2px #999;">PROGRESSIVE</span>
								<span style="font-size: 35px;">and creative</span>
								<span style="font-size: 70px; text-shadow: 2px 2px 2px #FFF;">MOBILE</span>
								<span style="font-size: 35px;">technologies that increase</span>
								<br>
								<span style="font-size: 35px;">organization, productivity, efficiency and</span>
								<span style="font-size: 70px; color: #666; text-shadow: 2px 2px 2px #333;">OPEN COLLABORATION.</span>
							</div>
						</div>
					</div>
					<div class="sl-slide bg-2" data-orientation="vertical">
						<div class="sl-slide-inner" style="padding-top: 5%; color: #000;">
							<div class="span3 offset2">
								<div style="padding: 10px 10px 25px;">
									<i class="icon-user icon-5x ipm-orange pull-left"></i>
									<div style="font-size: 20px; margin-top: 10px; line-height: 30px;">Tyler Davis</div>
									<div>Operations and Product Sales</div>
								</div>
								<div style="padding: 10px 10px 25px;">
									<i class="icon-user icon-5x ipm-orange pull-left"></i>
									<div style="font-size: 20px; margin-top: 10px; line-height: 30px;">Adam Preeo</div>
									<div>Product Manager</div>
								</div>
								<div style="padding: 10px 10px 25px;">
									<i class="icon-user icon-5x ipm-orange pull-left"></i>
									<div style="font-size: 20px; margin-top: 10px; line-height: 30px;">Paul Arnold</div>
									<div>Product Sales and Support</div>
								</div>
								<div style="padding: 10px 10px 25px;">
									<i class="icon-user icon-5x ipm-orange pull-left"></i>
									<div style="font-size: 20px; margin-top: 10px; line-height: 30px;">Ken Wallenta</div>
									<div>Product Sales</div>
								</div>
							</div>
							<div class="span3">
								<div style="padding: 10px 10px 25px;">
									<i class="icon-user icon-5x ipm-orange pull-left"></i>
									<div style="font-size: 20px; margin-top: 10px; line-height: 30px;">Adam Wolff</div>
									<div>Operations and Product Deisgn</div>
								</div>
								<div style="padding: 10px 10px 25px;">
									<i class="icon-user icon-5x ipm-orange pull-left"></i>
									<div style="font-size: 20px; margin-top: 10px; line-height: 30px;">Beth Leopold</div>
									<div>Office Manager</div>
								</div>
								<div style="padding: 10px 10px 25px;">
									<i class="icon-user icon-5x ipm-orange pull-left"></i>
									<div style="font-size: 20px; margin-top: 10px; line-height: 30px;">Kristian Slaugh</div>
									<div>Product Sales and Support</div>
								</div>
							</div>
							<div class="span3">
								<div style="padding: 10px 10px 25px;">
									<i class="icon-user icon-5x ipm-orange pull-left"></i>
									<div style="font-size: 20px; margin-top: 10px; line-height: 30px;">John Cornett</div>
									<div>Director of IT</div>
								</div>
								<div style="padding: 10px 10px 25px;">
									<i class="icon-user icon-5x ipm-orange pull-left"></i>
									<div style="font-size: 20px; margin-top: 10px; line-height: 30px;">Evan Butcher</div>
									<div>Product Sales and Support</div>
								</div>
								<div style="padding: 10px 10px 25px;">
									<i class="icon-user icon-5x ipm-orange pull-left"></i>
									<div style="font-size: 20px; margin-top: 10px; line-height: 30px;">Nicole Gampp</div>
									<div>Product Sales</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /sl-slider -->
				<nav id="company-nav-arrows" class="nav-arrows">
					<span class="nav-arrow-prev">Previous</span>
					<span class="nav-arrow-next">Next</span>
				</nav>
			</div>
			<!-- /slider-wrapper -->
		</div>
	</div>
</div>
<div class="row-fluid company-middle hidden-phone">
	<div class="span6 center">
		<div class="middle-section center ">
			<div class="ipm-our-goal ipm-home-icons"></div>
		</div>
	</div>
	<div class="span6 center">
		<div class="middle-section center ">
			<div class="ipm-the-team ipm-home-icons"></div>
		</div>
	</div>
</div>
<div class="row-fluid company-bottom hidden-phone">
	<div class="span6 center">
		<div class="bottom-section center txt_1">Providing the construction industry with progressive and creative mobile technologies that increase organization, productivity, efficiency and open collaboration.</div>
	</div>
	<div class="span6 center">
		<div class="bottom-section center txt_1">Our team has a unique combination of construction and technical experience.  This allows us to build quality software that is helpful, intuitive, and easy to use.</div>
	</div>
</div>
