<link rel="stylesheet" type="text/css" href="Package/iPM/css/home/horizlider.css" />
<script type="text/javascript">
	$(function() {
		$("#features-horizlider").horizlider();
		$('.mobile-section').click(function() {
			$('html,body').scrollTo('#features-horizlider', 100, {
				offset : -60
			});
		});
	});
</script>
<div class="section-sub-heading">
	<h1 class="ipm-blue center">Features</h1>
	<h4 align="center">What you need without the fluff.</h4>
</div>
<div id="features-horizlider">
	<!-- PHONE CONTENT -->
	<div class="visible-phone center">
		<div class="mobile-section feature-phone links center">
			<h2>Access</h2>
			<div class="ipm-organize ipm-home-icons"></div>
			<div>Organize all of your projects and files into one place for instant access no matter where you are.</div>
		</div>
		<div class="mobile-section feature-phone links center">
			<h2>Distribute</h2>
			<div class="ipm-distribute ipm-home-icons"></div>
			<div>Keep everyone informed as project documents change with instant distribution to all team members.</div>
		</div>
		<div class="mobile-section feature-phone links center">
			<h2>Collaborate</h2>
			<div class="ipm-collaborate ipm-home-icons"></div>
			<div>Improve project communication and team efficiency with open mobile collaboration.</div>
		</div>
		<div class="mobile-section feature-phone links center">
			<h2>Control</h2>
			<div class="ipm-control ipm-home-icons"></div>
			<div>Protect your information. Control who has access to the project's files with project and folder permissions.</div>
		</div>
	</div>
	<!-- PHONE CONTENT END -->
	<!-- DESKTOP CONTENT -->
	<div class="row-fluid features-top-nav hidden-phone">
		<div class="span3 center top-section">
			<h2 class="links">Access</h2>
		</div>
		<div class="span3 center top-section">
			<h2 class="links">Distribute</h2>
		</div>
		<div class="span3 center top-section">
			<h2 class="links">Collaborate</h2>
		</div>
		<div class="span3 center top-section">
			<h2 class="links">Control</h2>
		</div>
	</div>
	<div class="expander features-expander" style="display: none;">
		<div class="expander-inner">
			<div class="slides-canvas">
				<div class="slide active">
					<div class="slide-inner">
						<div class="container center">
							<h1>Access your information any time, any place.</h1>
							<img src="Package/iPM/images/features-access.png" style="max-height: 180px; margin: 20px 0 30px;" />
							<ul class="feature-access-bullets">
								<li class="left">Gain instant access to thousands of documents across multiple projects all from your browser or mobile device.</li>
								<li class="left">Quickly view documents online or off. Always have access to the answers that you need.</li>
								<li class="left">Import your file structure or use templates to quickly organize your team's documents.<br> <br>
									<div class="center mobile-apps-link">
										<epic:link_action action="go_mobile_apps">View Our Mobile Apps</epic:link_action>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="slide">
					<div class="slide-inner">
						<div class="container center">
							<h1>Distribute your information instantly and with ease.</h1>
							<img src="Package/iPM/images/features-distribute.png" style="max-height: 180px; margin: 20px 0 30px;" />
							<ul class="feature-access-bullets">
								<li class="left">Upload your documents and start sharing in minutes. No lengthy contracts or complicated software to learn.</li>
								<li class="left">Distribute documents directly from your mobile device no matter where you are. Quick and easy.</li>
								<li class="left">Building your project team is easy and you decide exactly who sees what. Distributing your information has never been so easy.<br> <br>
									<div class="center mobile-apps-link">
										<epic:link_action action="go_mobile_apps">View Our Mobile Apps</epic:link_action>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="slide">
					<div class="slide-inner">
						<div class="container center">
							<h1>Mobile collaboration for everyone on your project.</h1>
							<img src="Package/iPM/images/features-collaborate.png" style="max-height: 180px; margin: 20px 0 30px;" />
							<ul class="feature-access-bullets">
								<li class="left">Annotate documents and create redlines right from your mobile device. Changes that are made are instantly distributed to the rest of the project team.</li>
								<li class="left">Take photos and videos. Create notes and fill out forms. Everything is stored together and made accessible to your team. No information is ever lost.<br> <br>
									<div class="center mobile-apps-link">
										<epic:link_action action="go_mobile_apps">View Our Mobile Apps</epic:link_action>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="slide">
					<div class="slide-inner">
						<div class="container center">
							<h1>Complete control of your information.</h1>
							<img src="Package/iPM/images/features-control.png" style="max-height: 180px; margin: 20px 0 30px;" />
							<ul class="feature-access-bullets">
								<li class="left">Easily give access to your project files or remove it. Control what all of your team members see.</li>
								<li class="left">Delegate project managers to help manage your documents and team access levels.</li>
								<li class="left">Protect your information with SSL Encryption and multiple layers of project and folder permissions.<br> <br>
									<div class="center mobile-apps-link">
										<epic:link_action action="go_mobile_apps">View Our Mobile Apps</epic:link_action>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<span class="expander-close"></span>
			</div>
			<!-- /canvas -->
			<nav class="nav-arrows">
				<span class="nav-arrow-prev">Previous</span>
				<span class="nav-arrow-next">Next</span>
			</nav>
		</div>
		<!-- /canvas-wrapper -->
	</div>
	<div class="row-fluid features-middle hidden-phone">
		<div class="span3 center">
			<div class="middle-section center links">
				<div class="ipm-organize ipm-home-icons"></div>
			</div>
		</div>
		<div class="span3 center">
			<div class="middle-section center links">
				<div class="ipm-distribute ipm-home-icons"></div>
			</div>
		</div>
		<div class="span3 center">
			<div class="middle-section center links">
				<div class="ipm-collaborate ipm-home-icons"></div>
			</div>
		</div>
		<div class="span3 center">
			<div class="middle-section center links">
				<div class="ipm-control ipm-home-icons"></div>
			</div>
		</div>
	</div>
	<div class="row-fluid features-bottom hidden-phone">
		<div class="span3 center">
			<div class="bottom-section center links txt_1">Organize all of your projects and files into one place for instant access no matter where you are.</div>
		</div>
		<div class="span3 center">
			<div class="bottom-section center links txt_1">Keep everyone informed as project documents change with instant distribution to all team members.</div>
		</div>
		<div class="span3 center">
			<div class="bottom-section center links txt_1">Improve project communication and team efficiency with open mobile collaboration.</div>
		</div>
		<div class="span3 center">
			<div class="bottom-section center links txt_1">Protect your information. Control who has access to the project's files with project and folder permissions.</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<!-- DESKTOP CONTENT END-->