<epic:foreach table="Tag/Field">
	<td valign="top" style="vertical-align: top;">
		<div class="row-fluid controls controls-row" style="padding-top: 10px;">
			<epic:foreach table="Field/FirstName">
				<input class="span5" style="margin-bottom: 0;" type="&FirstName/type#lc;" name="&FirstName/name;__&SponsorAddRows/id;" autofocus value="&FirstName/value;" placeholder="&FirstName/label;" &Tag/If/req#.required="" .title="Cannot be blank";
				onchange="window.EpicMvc.Epic.makeClick(false,'AddNewTeamUser_onchange',{id:'&SponsorAddRows/id;',input_obj:this,name:'&FirstName/name;'},false)">
			</epic:foreach>
			<epic:foreach table="Field/LastName">
				<input class="span7" style="margin-bottom: 0;" type="&LastName/type#lc;" name="&LastName/name;__&SponsorAddRows/id;" value="&LastName/value;" placeholder="&LastName/label;" &Tag/If/req#.required="" .title="Cannot be blank";
				onchange="window.EpicMvc.Epic.makeClick(false,'AddNewTeamUser_onchange',{id:'&SponsorAddRows/id;',input_obj:this,name:'&LastName/name;'},false)">
			</epic:foreach>
		</div>
		<div class="row-fluid controls controls-row" style="padding-top: 10px;">
			<epic:foreach table="Field/FirstName">
				<epic:if set="&FirstName/issue;">
					<div class="span5">
						<span class="help-inline field-error">&FirstName/issue;</span>
					</div>
				</epic:if>
			</epic:foreach>
			<epic:foreach table="Field/LastName">
				<epic:if set="&LastName/issue;">
					<div class="span7">
						<span class="help-inline field-error">&LastName/issue;</span>
					</div>
				</epic:if>
			</epic:foreach>
		</div>
	</td>
	<td valign="top" style="vertical-align: top;">
		<div class="row-fluid controls controls-row" style="padding-top: 10px;">
			<epic:foreach table="Field/TeamEmail">
				<epic:if not_set="&SponsorAddRows/is_invitable;">
					<input class="span12" style="margin-bottom: 0;" type="&TeamEmail/type#lc;" name="&TeamEmail/name;__&SponsorAddRows/id;" value="&TeamEmail/value;" placeholder="&TeamEmail/label;" &Tag/If/req#.required="" .title="Cannot be blank"; onchange="window.EpicMvc.Epic.makeClick(false,'AddNewTeamUser_onchange',{id:'&SponsorAddRows/id;',input_obj:this,name:'&TeamEmail/name;'},false)">
				</epic:if>
				<epic:if set="&SponsorAddRows/is_invitable;">
					<div class="span12">
						<div class="span9">
							<input class="span12" style="margin-bottom: 0;" type="&TeamEmail/type#lc;" name="&TeamEmail/name;__&SponsorAddRows/id;" value="&TeamEmail/value;" placeholder="&TeamEmail/label;" &Tag/If/req#.required="" .title="Cannot be blank"; onchange="window.EpicMvc.Epic.makeClick(false,'AddNewTeamUser_onchange',{id:'&SponsorAddRows/id;',input_obj:this,name:'&TeamEmail/name;'},false)">
						</div>
						<div class="span2">
							<epic:link_action action="invite_team_user_row" class="btn" p:id="&SponsorAddRows/id;">Invite</epic:link_action>
						</div>
					</div>
				</epic:if>
			</epic:foreach>
		</div>
		<div class="row-fluid controls controls-row" style="padding-top: 10px;">
			<epic:foreach table="Field/TeamEmail">
				<epic:if set="&TeamEmail/issue;&SponsorAddRows/error;">
					<div class="span12">
						<span class="help-inline field-error">&TeamEmail/issue;&SponsorAddRows/error;</span>
						<epic:if val="&SponsorAddRows/error_token;" eq="REST_403_MAX_SPONSOR_COUNT_ADDON_SPONSORSHIP">
							<epic:if val="&User/Me/bill_system;" eq="1">
								<div class="field-error" style="margin:5px 0 10px 2px;"><epic:link_action action="go_billing_select" class="btn btn-mini">Click here to purchase additional users</epic:link_action></div>
							</epic:if>
							<epic:if val="&User/Me/bill_system;" eq="2">
								<div class="field-error" style="margin:5px 0 10px 2px;">Please contact us at <a href="mailto:support@iprojectmobile.com" class="ipm-blue">support@iprojectmobile.com</a> to make changes to your account.</div>
							</epic:if>
						</epic:if>
					</div>
				</epic:if>
			</epic:foreach>
		</div>
	</td>
	<td valign="top" style="vertical-align: top;" class="center">
		<epic:foreach table="Field/LevelTeam">
			<!-- FIST: LevelTeam -->
			<div class="row-fluid controls controls-row" style="padding-top: 10px;">
				<select name="&LevelTeam/name;__&SponsorAddRows/id;" &LevelTeam/size#..size="%"; onchange="window.EpicMvc.Epic.makeClick(false,'AddNewTeamUser_onchange',{id:'&SponsorAddRows/id;',input_obj:this,name:'&LevelTeam/name;'},false)">
					<epic:foreach table="LevelTeam/Choice">
						<option value="&Choice/value#esc;"&Choice/selected#..selected;>&Choice/option;</option>
					</epic:foreach>
				</select>
			</div>
		</epic:foreach>
	</td>
</epic:foreach>
