<footer class="copyright-container">
	<div class="bottom-gradient"></div>
	<div class="navbar ipm-navbar-fixed-bottom">
		<div class="navbar-fixed-bottom-inner">
			<div class="footer-container">
				&nbsp;&nbsp;
				<a class="zenbox-help links" href="https://iprojectmobile.zendesk.com/account/dropboxes/20238728" title="Tell us how we can help you.">
					Need Help? <i class="icon-question-sign"></i>
				</a>
				&nbsp;
				<a href="mailto:support@iprojectmobile.com" target="_blank" title="Send us a question or comment via email.">
					<i class="icon-envelope-alt"></i>
				</a>
				&nbsp;
				<a href="//www.youtube.com/user/iPMtutorials" target="_blank" title="View tutorials about using iProjectMobile on Youtube.">
					<i class="icon-youtube-play"></i>
				</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				Connect:
				<a href="https://twitter.com/iProjectMobile" target="_blank" title="Follow us on Twitter.">
					<i class="icon-twitter-sign"></i>
				</a>
				&nbsp;
				<a href="https://www.facebook.com/iprojectmobile" target="_blank" title="Check out our page on Facebook.">
					<i class="icon-facebook-sign"></i>
				</a>
				&nbsp;
				<a href="//www.linkedin.com/company/iprojectmobile" target="_blank" title="Connect with us on LinkedIn.">
					<i class="icon-linkedin-sign"></i>
				</a>
				<!-- <a href="#"><i class="icon-google-plus-sign"></i></a> -->
				<div class="pull-right" style="font-size: 12px;">
					<div class="pull-right hidden-phone">&nbsp;&nbsp; &copy; 2014 iProjectMobile, LLC. &nbsp;&nbsp;</div>
					<epic:link_action action="go_privacy" class="pull-right">Privacy&nbsp;<span class="hidden-phone">Policy</span></epic:link_action>&nbsp;&nbsp;
					<epic:link_action action="go_terms" class="pull-right">Terms&nbsp;<span class="hidden-phone">of Use &nbsp;&nbsp;</span></epic:link_action>&nbsp;&nbsp;
				</div>
			</div>
		</div>
	</div>
</footer>
<script type="text/javascript">
	$('.zenbox-help').click(function(e) {
		e.preventDefault();
		Zenbox.show();
	});
</script>