
<footer>
	<div class="navbar ipm-navbar-fixed-bottom">
		<div class="navbar-fixed-bottom-inner">
			<div class="footer-container">
				<a href="mailto:support@iprojectmobile.com">
					<i class="icon-envelope-alt"></i>
				</a>
				<a href="https://twitter.com/iProjectMobile">
					<i class="icon-twitter-sign"></i>
				</a>
				<a href="https://www.facebook.com/iprojectmobile">
					<i class="icon-facebook-sign"></i>
				</a>
				<!-- <a href="#"><i class="icon-pinterest-sign"></i></a> -->
				<a href="//www.youtube.com/user/iPMtutorials">
					<i class="icon-youtube-play"></i>
				</a>
				<a href="//www.linkedin.com/company/iprojectmobile">
					<i class="icon-linkedin-sign"></i>
				</a>
				<!-- <a href="#"><i class="icon-google-plus-sign"></i></a> -->
				<div class="pull-right hidden-phone">&nbsp;&nbsp; &copy; 2014 iProjectMobile, LLC. &nbsp;&nbsp;</div>
				<epic:link_action action="go_privacy" class="pull-right">Privacy<span class="hidden-phone"> Policy</span></epic:link_action>
				<epic:link_action action="go_terms" class="pull-right">Terms<span class="hidden-phone"> of Use &nbsp; </span></epic:link_action>
				<a class="zenbox-help links" href="https://iprojectmobile.zendesk.com/account/dropboxes/20238728">
					<div class="contact-us-widget hidden-phone"></div>
				</a>
			</div>
		</div>
	</div>
</footer>