<epic:page_part part="clipboard" />
<div class="top-navbar-inner">
	<div class="container" style="width: auto;">
		<a href="" class="smaller-web-logo">
			<img src="Package/iPM/images/iprojectmobile-web-logo.png" />
		</a>
		<ul class="nav pull-right header-nav">
			<li>
				<div class="nav-collapse subnav-collapse">
					<ul class="nav pull-right user-options visible-desktop">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle avatar-toggle" data-toggle="dropdown">
								<i class="icon-user icon-large"></i> &User/Me/first_name; &User/Me/last_name; <b class="caret"></b>
							</a>
							<ul class="dropdown-menu auto-show">
								<li>
									<epic:link_action action="logout">Sign Out</epic:link_action>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</li>
			<li>
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" style="margin-top: 12px;">
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				<span class="pull-right mob-user mob-username"> &User/Me/first_name; &User/Me/last_name; </span>
			</li>
		</ul>
		<div class="nav-collapse subnav-collapse">
			<ul class="nav nav-group toggler-section">
				<li class="toggler">
					<div class="nav-alt-header"></div>
					<epic:link_action action="logout">Sign Out</epic:link_action>
				</li>
			</ul>
		</div>
	</div>
	<div class="bottom-gradient">
		<span class="left"></span> <span class="center"></span> <span class="right"></span>
	</div>
</div>
