<epic:defer name="pricing-section">
</epic:defer>
<div class="section-sub-heading">
	<h1 class="ipm-dark-gray center">Pricing</h1>
	<h4 align="center">Quality. Without breaking the bank.</h4>
</div>
 
 <div class="visible-phone center">
	<div class="feature-phone links center">
		<epic:link_action action="go_signup">
			<h2>Start a Free Trial.</h2>
			<div class="ipm-trial ipm-home-icons"></div>
			<div>Getting started is quick, easy and best of all its free. Your first 30 days are on us.</div>
		</epic:link_action>
	</div>
	<div class="feature-phone links center">
		<epic:link_action action="go_plans">
			<h2 class="ready">Plans available for purchase.</h2>
			<div class="ipm-paid ipm-home-icons"></div>			
			<div>Pay only for what you need now and easily upgrade when you need more.</div>
		</epic:link_action>
	</div>
</div>
 
<div class="row-fluid top-nav-sections pricing-top-nav hidden-phone">
	<div class="span6 center">
		<epic:link_action action="go_signup">
			<h2 class="links">Start a Free Trial.</h2>
		</epic:link_action>
	</div>
	<div class="span6 center">
		<h2 class="ready">Plans available for purchase.</h2>
	</div>
</div>
<div class="row-fluid pricing-middle hidden-phone">
	<div class="span6 center">
		<div class="middle-section center links">
			<epic:link_action action="go_signup">
				<div class="ipm-trial ipm-home-icons"></div>
			</epic:link_action>
		</div>
	</div>
	<div class="span6 center">
		<div class="middle-section center" style="position:relative;">
			<epic:link_action action="go_plans">
				<div class="ipm-paid ipm-home-icons ready"></div>
			</epic:link_action>
		</div>
	</div>
</div>
<div class="row-fluid pricing-bottom hidden-phone">
	<div class="span6 center">
		<epic:link_action action="go_signup">
			<div class="bottom-section center links txt_1" style="padding-left: 20%;padding-right: 20%;">
				Getting started is quick, easy and best of all its free. Your first 30 days are on us.
			</div>
		</epic:link_action>
	</div>
	<div class="span6 center">
		<div class="bottom-section ready center txt_1" style="padding-left: 20%;padding-right: 20%;">
			Pay only for what you need now and easily upgrade when you need more.
		</div>
	</div>
</div>