<div style="margin: 50px 1%;">
<p align="center">
    <strong>Privacy Policy</strong>
</p>
<p>
    iProject Mobile, LLC ("<strong>Company</strong>") is committed to protecting your privacy. We prepared this Privacy Policy to describe our practices
    regarding the information (as defined below) we collect from users of our website, located at www.iprojectmobile.com, and use of our related services,
    including without limitation any mobile services and APIs. By submitting information through our website or through our related services, you agree to the
    terms of this Privacy Policy and you expressly consent to the processing of your information in accordance with this Privacy Policy.
</p>
<p>
    <strong>1. </strong>
    <strong>Types of Information We Collect. </strong>
</p>
<p>
    <strong>1.1 </strong>
    <strong>Information You Provide Us Directly:</strong>
    We collect information from you, such as your first and last name, phone e-mail and mailing addresses, employer, affiliated companies, and password when
    you create an account to log in to our network. We also retain information that you post or store through your account and/or on our website, including
    without limitation, contacts, social networking contacts, blueprints, drawings, reports, files, and other documents and materials. If you exchange any
    messages through our site, we may store those as well. If you purchase anything through our site, we (or our third party partners) may collect your credit
    card or payment information. If you provide us feedback or contact us via e-mail, we will collect your name and e-mail address, as well as any other
    content included in the e-mail, in order to send you a reply, and any information that you submit to us, such as a resume. When you post messages on the
    message boards of our website or on our blog, the information contained in your posting will be stored on our servers and other users will be able to see
    it. We may also retain any messages you send through the service, and may collect information you post to the service.
</p>
<p>
    <strong>1.2 </strong>
    <strong>Information We May Receive From Third Parties:</strong>
    We may receive information about you from third parties ("<strong>Third Party Companies</strong>"). For example, if you access our service through the
    recommendation or referral link from a third party, that third party may pass certain information about your use of its service to Company. This
    information could include, but is not limited to, information about any projects you are working on, any information that you permitted the third party to
    share with us, and any information you made public in connection with that service. If you submit credit card information to payment processor, they may
    provide us with information about you.
</p>
<p>
    <strong>1.3 </strong>
    <strong>Information Collected via Technology. </strong>
    To make our website and related services more useful to you, our servers (which may be hosted by a third party service provider) collect information from
    you, including browser type, operating system, Internet Protocol (IP) address (a number that is automatically assigned to your computer when you use the
    Internet, which may vary from session to session), domain name, and/or a date/time stamp for your visit. We also use Cookies (as defined below) and
    navigational data to gather information regarding the date and time of your visit and the solutions and information for which you searched and which you
    viewed. Like most Internet services, we automatically gather this information and store it in log files each time you visit our website or access your
    account on our network. <strong>"Cookies"</strong> are small pieces of information that a website sends to your computer's hard drive while you are viewing
    a web site. We may use both session Cookies (which expire once you close your web browser) and persistent Cookies (which stay on your computer until you
    delete them) to provide you with a more personal and interactive experience on our website. Persistent Cookies can be removed by following Internet browser
    help file directions. If you choose to disable Cookies, some areas of our website may not work properly.
</p>
<p>
    <strong>2. </strong>
    <strong>Use of Your Data</strong>
</p>
<p>
    <strong>2.1 </strong>
    <strong>General Use. </strong>
    In general, information you submit to us is used either to respond to requests that you make, or to aid us in serving you better. Company uses your
    information to facilitate the creation of and secure your account on our network; identify you as a user in our system; provide improved administration of
    our website and services; improve the quality of experience when you interact with our website and services; send you administrative e-mail notifications;
    respond to your inquiries related to employment opportunities or other requests; send promotional communications; send upgrades and special offers related
    to our services and for other marketing purposes of Company or our Third Party Companies, should you opt-in to receive such communications by following the
    instructions we provide; make telephone calls to you, from time to time, as a part of secondary fraud protection or to solicit your feedback.
</p>
<p>
    <strong>2.2 </strong>
    <strong>Creation of Anonymous Data. </strong>
    We may create anonymous data records from information by excluding information (such as your name) that make the data personally identifiable to you. We
    use this anonymous data to analyze request and usage patterns so that we may enhance the content of our services and improve site navigation. Company
    reserves the right to use and disclose anonymous data to third party companies for any purpose in its discretion.
</p>
<p>
    <strong>2.3 </strong>
    <strong>Feedback. </strong>
    If you provide feedback on any of our services to us, we may use such feedback for any purpose, provided we will not associate such feedback with your
    information. Company will collect any information contained in such communication and will treat the information in such communication in accordance with
    this Privacy Policy.
</p>
<p>
    <strong>2.4 </strong>
    <strong>Third Party Links. </strong>
    Our provision of a link to any other website or location is for your convenience and does not signify our endorsement of such other website or location or
    its contents. When you click on such a link, you will leave our site and go to another site. During this process, another entity may collect information
    from you. We have no control over, do not review, and cannot be responsible for, these outside websites or their content. Please be aware that the terms of
    this Privacy Policy do not apply to these outside websites or content, or to any collection of data after you click on links to such outside websites.
</p>
<p>
    <strong>3. </strong>
    <strong>Disclosure of Your information</strong>
</p>
<p>
    <strong>3.1 </strong>
    <strong>Affiliates</strong>
. Although we currently do not have a parent company, any subsidiaries, joint ventures, or other companies under a common control (collectively,    <strong>"Affiliates"</strong>), we may in the future. We may share some or all of your information with these Affiliates, in which case we will require our
    Affiliates to honor this Privacy Policy. If another company acquires our company or our assets, that company will possess the information collected by it
    and us and will assume the rights and obligations regarding your information as described in this Privacy Policy.
</p>
<p>
    <strong>3.2 </strong>
    <strong>Other Disclosures</strong>
    . Regardless of any choices you make regarding your information (as described below), Company may disclose information if it believes in good faith that
    such disclosure is necessary to (a) comply with relevant laws or to respond to subpoenas or warrants served on Company; or (b) protect or defend the rights
    or property of Company or users of the services.
</p>
<p>
    <strong>3.3 </strong>
    <strong>Disclosure to Third Party Service Providers. </strong>
    Except as otherwise stated in this policy, we do not generally sell, trade, share, or rent the information collected from our services to other entities.
    However, we may share your information with third party service providers to provide you with the services that we offer you through our website; to
    conduct quality assurance testing; to facilitate creation of accounts; to process any transactions you make through our website, or to provide technical
    support. We may also share your information with a third party application with your consent, for example when you choose to access our services through
    such an application. We are not responsible for what those parties do with your information, so you should make sure you trust the application and that it
    has a privacy policy acceptable to you. You expressly consent to the sharing of your information with our contractors and other service providers for the
    sole purpose of providing services to you.
</p>
<p>
    <strong>4. </strong>
    <strong>Your Choices Regarding Your information</strong>
</p>
<p>
    <strong>4.1 </strong>
    <strong>Choices.</strong>
    We offer you choices regarding the collection, use, and sharing of your information. We will periodically send you free newsletters and e-mails that
    directly promote the use of our site or services and may contain advertisements for Third Party Companies. When you receive newsletters or promotional
    communications from us, you may indicate a preference to stop receiving further communications from us and you will have the opportunity to "opt-out" by
    following the unsubscribe instructions provided in the e-mail you receive or by contacting us directly (please see contact information below). Should you
    decide to opt-out of receiving future mailings, we may share your e-mail address with third parties to ensure that you do not receive further
    communications from third parties. Despite your indicated e-mail preferences, we may send you emails related to your account or transactions thereunder, or
    notices of any updates to our Terms of Use or Privacy Policy.
</p>
<p>
    <strong>4.2 </strong>
    <strong>Changes to information.</strong>
    You may change any of your information in your account by sending an e-mail to us at the e-mail address set forth below. You may request deletion of your
    information by us, but please note that we may be required (by law or otherwise) to keep this information and not delete it (or to keep this information
    for a certain time, in which case we will comply with your deletion request only after we have fulfilled such requirements). When we delete any
    information, it will be deleted from the active database, but may remain in our archives.
</p>
<p>
    <strong>4.3 </strong>
    <strong>Administrator Access.</strong>
    If you have an account in connection with your company or business, your administrator may be able to: (a) access information in and about your account;
    (b) disclose, restrict, or access information that you have provided or that is made available to you when using your account; and (c) control how your
    account may be accessed or deleted. Please refer to your organization's policies if you have questions about your administrator's rights.
</p>
<p>
    <strong>5. </strong>
    <strong>Security of Your information. </strong>
    Company is committed to protecting the security of your information. We use a variety of industry-standard security technologies and procedures to help
    protect your information from unauthorized access, use, or disclosure. We may require you to enter a password to access your account information. Please do
    not disclose your account password to unauthorized people. Despite these measures, you should know that Company cannot fully eliminate security risks
    associated with information and mistakes may happen.
</p>
<p>
    <strong>6. </strong>
    <strong>Dispute Resolution. </strong>
    If you believe that Company has not adhered to this Statement, please contact Company by e-mail at support@iprojectmobile.com. We will do our best to
    address your concerns. If you feel that your complaint has been addressed incompletely, we invite you to let us know for further investigation. If you and
    Company are unable to reach a resolution to the dispute, you and Company will settle the dispute exclusively under the rules of the American Arbitration
    Association (www.adr.org).
</p>
<p>
    <strong>7. </strong>
    <strong>A Note About Children. </strong>
    We do not intentionally gather information about visitors who are under the age of 18.
</p>
<p>
    <strong>8. </strong>
    <strong>A Note to Users Outside of the United States. </strong>
    Your information may be processed in the country in which it was collected and in other countries, including the United States, where laws regarding
    processing of information may be less stringent than the laws in your country. <strong></strong>
</p>
<p>
    <strong>9. </strong>
    <strong>Changes to This Privacy Policy. </strong>
    This Privacy Policy is subject to occasional revision, and if we make any substantial changes in the way we use your information, we will notify you by
    sending you an e-mail to the last e-mail address you provided to us and/or by prominently posting notice of the changes on our website. Any material
    changes to this Privacy Policy will be effective upon the earlier of thirty (30) calendar days following our dispatch of an e-mail notice to you or thirty
    (30) calendar days following our posting of notice of the changes on our site. These changes will be effective immediately for new users of our website or
    services. Please note that at all times you are responsible for updating your information to provide us with your most current e-mail address. In any
    event, changes to this Privacy Policy may affect our use of information that you provided us prior to our notification to you of the changes. If you do not
    wish to permit changes in our use of your information, you must notify us prior to the effective date of the changes that you wish to deactivate your
    account with us. Continued use of our website, or services, following notice of such changes shall indicate your acknowledgement of such changes and
    agreement to be bound by the terms and conditions of such changes.
</p>
<p>
    <strong>10. </strong>
    <strong>Contact Information. </strong>
    Company welcomes your comments or questions regarding this Privacy Policy. Please e-mail us at support@iprojectmobile.com or contact us at the following
    address:
</p>
<p>
    iProject Mobile, LLC
</p>
<p>
    601 South Broadway, Suite D
</p>
<p>
    Denver, CO 80209
</p>
<p>
    This Privacy Policy was last revised on January 9, 2014.
</p>
</div>
<br><br><br><br><br>