<div class="row-fluid">
	<div class="signup-box">
		<div>
			<h1 class="ipm-orange center" style="font-weight: normal; font-size: 60px; letter-spacing: 5px; line-height: 60px;">Register</h1>
			<h4 align="center" style="font-weight: normal; color: #AAA;">Get started for free. No obligation.</h4>
		</div>
		<br>
		<div class="row-fluid">
			<div class="form-container span10 offset1">
				<div class="form-container">
					<epic:page_part part="issues" />
					<form>
						<epic:form_part form="RequestInvite" part="fist_signup" />
						<div class="controls controls-row">
							<div class="center">
								<br>
								<epic:form_action action="request_invite" value="Register Now" class="btn btn-large ipm-blue" type="submit" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="center reg-option">
	Already have an account?
	<span class="inline-home-nav">
		<epic:link_action action="go_log_in" class="ipm-blue"> Login Here </epic:link_action>
	</span>
</div>
