<epic:defer name="lazy_load_youtube">
	$('.js-lazyYT').lazyYT();
</epic:defer>
<div class="section-sub-heading">
	<h1 class="ipm-green center">Support</h1>
	<h4 align="center">We are here to help.</h4>
</div>
<br>
<br>
<style>
.accordion-heading {
	background-color: #EEE;
}

.bold {
	font-weight: bold;
}
</style>
<div class="support-section">
	<div class="row-fluid">
		<div class="span5 offset1">
			<h2 class="center">Video Tutorials</h2>
			<div class="accordion" id="support_videos" style="width: 100%;">
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#support_videos" href="#collapseOne"> iProjectMobile - Introduction</a>
					</div>
					<div id="collapseOne" class="accordion-body collapse">
						<div class="accordion-inner">
							<div class="js-lazyYT" data-youtube-id="P17YrAlXE3k" data-width="100%" data-height="400"></div>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#support_videos" href="#collapseThree"> iProjectMobile - Permissions</a>
					</div>
					<div id="collapseThree" class="accordion-body collapse">
						<div class="accordion-inner">
							<div class="js-lazyYT" data-youtube-id="djLfq3S2Gow" data-width="100%" data-height="400"></div>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#support_videos" href="#collapseSix"> iProjectMobile - Mobile File and Folder</a>
					</div>
					<div id="collapseSix" class="accordion-body collapse">
						<div class="accordion-inner">
							<div class="js-lazyYT" data-youtube-id="Zi2s6Kg9eII" data-width="100%" data-height="400"></div>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#support_videos" href="#collapseFour"> iProjectMobile - Mobile Annotations</a>
					</div>
					<div id="collapseFour" class="accordion-body collapse">
						<div class="accordion-inner">
							<div class="js-lazyYT" data-youtube-id="7O0WLsZxGSA" data-width="100%" data-height="400"></div>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#support_videos" href="#collapseFive"> iProjectMobile - Mobile Add Icon</a>
					</div>
					<div id="collapseFive" class="accordion-body collapse">
						<div class="accordion-inner">
							<div class="js-lazyYT" data-youtube-id="7AtJmCLMh_w" data-width="100%" data-height="400"></div>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#support_videos" href="#collapseTwo"> iProjectMobile - Mobile Search</a>
					</div>
					<div id="collapseTwo" class="accordion-body collapse">
						<div class="accordion-inner">
							<div class="js-lazyYT" data-youtube-id="Hm0RTCQYNKo" data-width="100%" data-height="400"></div>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#support_videos" href="#collapseSeven"> iProjectMobile - Forms</a>
					</div>
					<div id="collapseSeven" class="accordion-body collapse">
						<div class="accordion-inner">
							<div class="js-lazyYT" data-youtube-id="wqzm4rC6fdw" data-width="100%" data-height="400"></div>
						</div>
					</div>
				</div>
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#support_videos" href="#collapseEight"> iProjectMobile - Mobile Settings</a>
					</div>
					<div id="collapseEight" class="accordion-body collapse">
						<div class="accordion-inner">
							<div class="js-lazyYT" data-youtube-id="dzix2T8Rhs4" data-width="100%" data-height="400"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="span5 center">
			<h2 class="center">Contact &amp; Training</h2>
			<div class="accordion-group">
				<div class="accordion-heading">
					<div class="bold" style="padding: 8px 15px;">Email, call, or stop by our Denver Office.</div>
				</div>
				<div id="collapseEight" class="accordion-body">
					<div class="accordion-inner">
						<table width="100%" class="left" cellpadding="10" cellspacing="0">
							<tr>
								<td colspan="4">
									<b>Live Training Information:</b><br> We offer free live training at our showroom in the Denver Design District, Monday - Friday 9am - 5pm. We also provide on site training for your teams. If you are interested in on site training or to schedule a workshop for your team in our showroom, please email us at training@iprojectmobile.com. To contact us with general questions about iProjectMobile, please use the support channels below.
								</td>
							</tr>
							<tr class="full-contact">
								<td width="50%" valign="top" style="font-size: 13px; font-weight: bold; line-height: 23px;">
									<div class="pull-left center" style="width: 50px; height: 75px;">
											<i class="icon-map-marker icon-3x ipm-green"></i>
										</div> 601 South Broadway, Suite D<br>Denver, CO 80209<br>
									<a class="ipm-blue" href="//maps.google.com/maps?espv=210&es_sm=122&q=601+S+BROADWAY,+DENVER,+CO+80209&um=1&ie=UTF-8&hq=&hnear=0x876c7f02f122b0d7:0x40ff86fcbd3b260,601+S+Broadway,+Denver,+CO+80209&gl=us&daddr=601%20S%20Broadway,%20Denver,%20CO%2080209&sa=X&ei=bel3UsDOIZbKsQTd74HoAw&ved=0CC0QwwUwAA">Get Directions</a>
								</td>
								<td width="50%" valign="top" style="font-size: 13px; font-weight: bold;">
									<div style="line-height: 36px;">
										<a class="ipm-blue" href="mailto:support@iprojectmobile.com">
											<div class="pull-left center" style="width: 50px;">
												<i class="icon-envelope icon-2x ipm-green"></i>
											</div>
											support@iprojectmobile.com
										</a>
									</div>
									<div class="clearfix"></div>
									<div style="line-height: 30px;">
										<a class="ipm-blue" href="tel:%28303%29%20532-1777" value="+13035321777" target="_blank">
											<div class="pull-left center" style="width: 50px;">
												<i class="icon-phone icon-2x ipm-green"></i>
											</div>
											(303) 532-1777
										</a>
									</div>
								</td>
							</tr>
							<tr class="resp-contact">
								<td colspan="4" valign="top">
									<div style="line-height: 30px;">
										<a class="ipm-blue" href="mailto:support@iprojectmobile.com">
											<div class="pull-left center" style="width: 75px;">
												<i class="icon-envelope icon-2x ipm-green"></i>
											</div>
											support@iprojectmobile.com
										</a>
									</div>
									<div class="clearfix"></div>
									<br>
									<div style="line-height: 30px;">
										<a class="ipm-blue" href="tel:%28303%29%20532-1777" value="+13035321777" target="_blank">
											<div class="pull-left center" style="width: 75px;">
												<i class="icon-phone icon-2x ipm-green"></i>
											</div>
											(303) 532-1777
										</a>
									</div>
									<br>
									<div>
										<div class="pull-left center" style="width: 75px; height: 75px;">
											<i class="icon-map-marker icon-3x ipm-green"></i>
										</div>
										601 South Broadway, Suite D<br>Denver, CO 80209<br>
										<a class="ipm-blue" href="//maps.google.com/maps?espv=210&es_sm=122&q=601+S+BROADWAY,+DENVER,+CO+80209&um=1&ie=UTF-8&hq=&hnear=0x876c7f02f122b0d7:0x40ff86fcbd3b260,601+S+Broadway,+Denver,+CO+80209&gl=us&daddr=601%20S%20Broadway,%20Denver,%20CO%2080209&sa=X&ei=bel3UsDOIZbKsQTd74HoAw&ved=0CC0QwwUwAA">Get Directions</a>
									</div>
									<div class="clearfix"></div>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>